<!-- Search bar!!!!! -->
<div class="BomBom">
<div class="BomSearchBar">
	<!-- <input type="text" class="BomTextSearch moneynumber" placeholder="搜尋" /> -->
</div>

<div class="BomListBox">

<div class="BomListBoxHD">
	<div class="BomProduct">名稱</div>
	<div class="BomPTime">製作時間</div>
	<div class="Bomdetail">
		<div class="BomMaterials">
			<div class="BomMName">材料</div>
			<div class="BomMNum">數量</div>
		</div>
	</div>
</div>

<%
for(var i=0;i<bom.length;i++)
{
%>

<div class="BomItem BomItem<%=bom[i].id%>" idata="<%=bom[i].id%>">
	<div class="BomProduct"><%=bom[i].name%></div>
	<div class="BomPTime"><%=bom[i].time%></div>
	<div class="Bomdetail">
		<%
			for(var j=0;j<bom[i].list.length;j++)
			{
		%>

		<div class="BomMaterials">
			<div class="BomMName" idata="<%=bom[i].list[j].id%>"><%=bom[i].list[j].name%></div>
			<div class="BomMNum"><%=bom[i].list[j].num%></div>
		</div>

		<% } %>
	</div>
</div>

<% } %>

</div>
</div>