<%
for(var i=0;i<inpData.length;i++)
{
%>

<div class="MachineBox MachineBox<%=inpData[i].id%>" idata="<%=inpData[i].id%>">
	<div class="Mname"><%=inpData[i].Name%></div>
	<div class="Mproduct"><%=inpData[i].produce%></div>
	<div class="Mstatus" idata="<%=inpData[i].status%>">
		<% 
			var toStatus = "";
			if(!inpData[i].status)toStatus = "READY";
			else toStatus = "<div class='MstatusWorking'></div>";
		%>

		<%=toStatus%>
		
	</div>
	<div class="Mrestime"><%=inpData[i].restime%></div>
</div>

<%
}
%>

<div class="MachineBuy">
	<div class="Mname"></div>
	<div class="Mproduct">購買機器</div>
	<div class="Mstatus">
		<i class="fa fa-shopping-cart addMachineIcon" aria-hidden="true"></i>
	</div>
	<div class="Mrestime">每台 500 元</div>
</div>